.Order{
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #eee;
}
.Ingredient{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    text-transform: capitalize;
}
.Order:hover{
    background-color: #eee;
}